<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body><h1>list of <span th:text="${cars.size}">size</span> cars</h1>
<table border="2">
    <thead>
    <tr>
        <th>model</th>
        <th>series</th>
        <th>engine</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">model</td>
        <td th:text="${car.series}">series</td>
        <td th:text="${car.engine}">engine</td>
    </tr>
    </tbody>
</table>
</body>
</html>